@font-face {
    src: url(fonts/Montserrat.ttf);
    font-family: paragraffont;
}

@font-face {
    src: url(fonts/Kavivnar.ttf);
    font-family: navnfont;
}

/* p mobil */
p {
    font-family: paragraffont;
    font-size: 14px;
}

/* p tablet */
@media only screen and (min-width: 750px) {
p {
    font-size: 16px;
}
}

/* p desktop */
@media only screen and (min-width: 1024px) {
p {
    font-size: 18px;
}
}
/* p slut */

/* navbar */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    background-color:#EAEAEA;
    display: flex;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    font-family: paragraffont;
}

.container li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:#C1796C;
}

/* navn i navbar */
.navn {
    position: absolute;
    left: 70px;
    font-family: navnfont;
}
/* navn i navbar slut */
/* navbar slut*/

/* farvar på punkter i menu */
.projekt {
    color:#C1796C;
}

.kontakt {
    color:#C1796C;
}

.om {
    color:#C1796C;
}
/* farver på punkter i menu slut */

.logo {
    height: 30px;
    width: 35px;
    display: flex;
    margin: 20px;
}

h3 {
    font-size: 16px;
    font-family: paragraffont;
    font-weight: bold;
    margin-bottom: 10px;
}

/* forside mobil */
/* indhold i box under navbar */
.box {
    height: 400px;
    width: auto;
    background-color:#E2DDDA;
}

h1 {
    font-size: 28px;
    font-family: navnfont;
    font-weight: 100;
    position: relative;
    top: 45px;
    text-align: center;
}

.forsidetekst {
    position: relative;
    font-size: 20px;
    top: 45px;
    text-align: center;
}

.bold {
    font-weight: bolder;
    color:#C1796C;
}

.portræt {
    position: absolute;
    width: 170px;
    height: 260px;
    margin-top: 50px;
    right: 175px;
}
/* indhold i box under navbar slut */

/* kasser og indhold på forside */
.box1 {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 170px;
    border:#C1796C;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 5px 5px 5px #D3CECB;
}

.knap {
    width: 108px;
    height: 25px;
    background-color:#C1796C;
    margin: auto;
    margin-top: 25px;
    border-radius: 70px;
    padding: 2px;
}

.knaptekst {
    color:#F5F5F5;
    font-family: paragraffont;
    font-size: 12px;
    padding: 10px;
}

.knaptekst:hover {
    color: black;
}
/* kasser og indhold på forside slut */
/* forside mobil slut */

/* footer */
footer {
    background-color:#F0EBE8;
    height: 55px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.fa-solid {
    font-size:x-large;
    padding: 10px;
}

.fa-brands {
    font-size: x-large;
    padding: 10px;

}
.fa-solid:hover {
    opacity: 0.6;
}

.fa-brands:hover {
    opacity: 0.6;
}
/* footer slut */


/* forside tablet */ 
@media only screen and (min-width: 750px) {
.container {
    height: 52px;
}
    
.logo {
    width: 40px;
}
    
h2 {
    font-size: 20px;
}

.box {
    height: 500px;
}
    
h1 {
    font-size: 35px;
    top: 180px;
}
    
.forsidetekst {
    font-size: 25px;
    top: 180px;
}
    
.portræt {
    width: 225px;
    height: auto;
    top: 164px;
    margin-right: -150px;
}

.box1 {
    width: 270px;
    height: 200px;
    border-width: 6px;
    margin-top: 30px;
}
    
.knap {
    width: 130px;
    height: 30px;
    padding: 4px;
}
}

/* forside desktop */
@media only screen and (min-width: 1024px) {
main {
    display: flex;
    flex-direction: row;
}

.container li {
    padding: 10px;
    margin-right: 40px;
}

h1 {
    font-size: 45px;
}

.forsidetekst {
    font-size: 30px;
}

.portræt {
    width: 270px;
    height: auto;
    top: 95px;
}
    
.box1 {
    width: 270px;
    border-width: 6px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.knap {
    width: 140px;
    height: 35px;
    padding: 6px;
}

.knaptekst {
    font-size: 16px;
}

}

/* projekter mobil */
h2 {
    text-align: center;
    font-family: paragraffont;
    font-size: large;
    margin-top: 50px;

}

.projektstreg {
    width: 300px;
}

.pro {
    display: flex;
    flex-direction: column;
}

.projektflex {
    margin: auto;
}

.projektbillede {
    width: 300px;
    margin: auto;
    margin-top: 30px;
    border: #C1796C;
    border-style: solid;
}

.knaptekstp {
    color: #F5F5F5;
    padding: 27px;
    font-family: paragraffont;
    font-size: 12px;
}

.knaptekstp:hover {
    color: black;
}

/* projekter tablet */
@media only screen and (min-width: 750px) {
.projektstreg {
    width: 500px;
}

h2 {
    font-size: x-large;
}

.projektbillede {
    width: 300px;
    height: 400px;
    margin-top: 40px;
}

.pro {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}   

.knaptekstp {
    padding: 32px;
    font-size: 14px;
}
}

/* projekter desktop */
@media only screen and (min-width: 1024px) {
.projektstreg {
    width: 370px;
    margin: auto;
    margin-top: 10px;
}

.projektbillede {
    width: 370px;
    height: 500px;
    margin-top: 60px;
}

.knaptekstp {
    padding: 30px;
    font-size: 16px;
}
}
/* projekter desktop slut */

/* info om projekter mobil */
.infostreg {
    margin: auto;
    width: 400px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.infop {
    font-size: 14px;
}

.info {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 10px;
    font-size: medium;
    font-family: paragraffont;
}

.infop {
    width: 400px;
    margin-bottom: 30px;
}

.infobillede {
    width: 400px;
}

/* info om projekter tablet */
@media only screen and (min-width: 750px) {
.infostreg {
    width: 500px;
}

.infooverskrift {
    font-size: 25px;
}

h3 {
    font-size:large;
}

.info {
    width: 500px;
}

.infop {
    width: 500px;
    font-size: 16px;
}

.infobillede {
    width: 500px;
}
}

/* info om projekter desktop */
@media only screen and (min-width: 1024px) {
.infostreg {
    width: 700px;
}

.infooverskrift {
    font-size: 30px;
}

.info {
    width: 700px;
}
    
.infop {
    width: 700px;
    font-size: 18px;
}
    
.infobillede {
    width: 700px;
}
}

/* ommig mobil */
.foto {
    width: 350px;
    height: auto;
    margin: auto;
    margin-top: 30px;
}

.infobox {
    width: 350px;
    height: auto;
    padding: 15px;
    margin: auto;
}

hr {
    margin: auto;
    height: 3px;
    background-color:#C1796C;
    border-width: 0px;
    width: 365px;
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    margin-top: 30px;
    background-color:#E2DDDA;
}

/* om mig tablet */
@media only screen and (min-width: 750px) {    
hr {
    width: 500px;
}

.foto {
    width: 500px;
    height: auto;
}

.infobox {
    width: 500px;
    font-size: 16px;
    padding: 20px;
}
}
/* om mig tablet slut */

/* om mig desktop */
@media only screen and (min-width: 1024px) {
.mig {
    text-align: left;
    position: relative;
    margin-left: 140px;
}

hr {
    margin-left: 140px;
    margin-right: 140px;
}  

.foto {
    width: 400px;
    margin-left: 140px;
    margin-bottom: 30px;
}

.infobox {
width: 600px;
margin: auto;
box-shadow: 5px 5px 5px #D3CECB;
}

.flex {
flex-direction: row;
}
}
/* om mig desktop slut */

/* kontakt mig mobil */
.kontaktbox {
    display: flex;
    flex-direction: column;
    width: 365px;
    margin: auto;
    margin-top: 30px;
    background-color: #D3CECB;
    padding: 30px;
}

.nr {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 30px;
}

.fa-phone {
    margin-top: -12px;
}

.mail {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10px;
}

.fa-envelope {
    margin-top: -12px;
}

.foto1 {
    width: 365px;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 30px;
    border-bottom:#C1796C;
    border-right: #C1796C;
    border-style: solid;
    border-width: 4px;
}
/* kontakt mig mobil slut */

/* kontakt tablet */
@media only screen and (min-width: 750px) {
.kontaktbox {
    width: 500px;
}
        
.foto1 {
    width: 500px;
    border-width: 6px;
}
}
/* kontakt tablet slut */

/* kontakt desktop */
@media only screen and (min-width: 1024px) {
.kontaktbox {
    width: 600px;
    margin: auto;
    margin-left: 130px;
}
    
.foto1 {
    width: 400px;
    border-width: 8px;
    margin-right: 130px;
    margin: auto;
} 

.flexkontakt {
    display: flex;
    flex-direction: row;
}
}  
/* kontakt desktop slut */ 